@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Azure Pipelines</h1>
    <img src="~/images/pipelines.png"alt="Azure Pipelines Logo" height="140" width="140">
    <p>Learn more about <a href="https://docs.microsoft.com/en-gb/azure/devops/pipelines/?view=azure-devops">building and deploying applications with Azure Pipelines</a>.</p>
</div>
